{% extends 'base.html' %}
{% block content %}

<h3>Add Recipe</h3>

<!-- Add recipe form -->

<div class="row">
    <form action="{{ url_for('insert_recipe')}}" method="POST" class="col s12">
        <div class="row">

            <!-- Recipe Title -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">fastfood</i>
                    <input id="recipe_title" required name="title" type="text" class="validate" >
                    <label for="icon_prefix">Recipe Title</label>
                </div>
            </div>
            <!-- Recipe Description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">assignment</i>
                    <textarea id="recipe_description" required name="description" type="textarea" class="materialize-textarea"></textarea>
                    <label for="icon_prefix">Description</label>
                </div>
            </div>
            
            <!-- Recipe Ingredients -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">format_list_numbered</i>
                    <textarea id="recipe_ingredients" required name="ingredients" type="textarea" class="materialize-textarea"></textarea>
                    <label for="icon_prefix">Ingredients</label>
                </div>
            </div>

            <!-- Recipe Instructions -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">format_list_numbered</i>
                    <textarea id="recipe_instructions" required name="instructions" type="textarea" class="materialize-textarea"></textarea>
                    <label for="icon_prefix">Preparation Instructions</label>
                </div>
            </div>

            <!-- Type of meal -->
            <div class="row">
                <div class="input-field col s12 m6 ">
                    <select id="meal_type" required name="meal_type">
                        <option value="" disabled selected>Choose the Type of Meal</option>
                        <option value="1">Breakfast</option>
                        <option value="2">Main</option>
                        <option value="3">Dessert</option>
                        <option value="3">Snack</option>
                    </select>
                    <label>Type of Meal</label>
                </div>

                <!-- Recipe difficulty -->
                <div class="input-field col s12 m6 ">
                    <select class="icons">
                        <option value="" disabled selected>Choose the recipe difficulty</option>
                        <option value="" data-icon="#" class="left circle">Easy</option>
                        <option value="" data-icon="#" class="left circle">Medium</option>
                        <option value="" data-icon="#" class="left circle">Hard</option>
                    </select>
                    <label>Difficulty</label>
                </div>
                <!-- Allergen items -->
                <div class="input-field col s12 m6 ">
                    <select name="allergen" id="allergen"  multiple>
                        <option value="" disabled selected>Choose the allergens in this recipe</option>
                        {% for allergen in allergen %}
                        <option value="{{allergen.allergens}}">{{allergen.allergens}}</option>
                        {% endfor %}                    
                    </select>
                    <label for="allergen">Includes the following allergens</label>
                </div>
                <!-- Type of Cuisine -->
                <div class="input-field col s12 m6 ">
                    <select name="cuisine_name" id="cuisine">
                        <option value="" disabled selected>Choose a Cuisine </option>
                        {% for cuisine in cuisine %}
                        <option value="{{cuisine.cuisine_name}}">{{cuisine.cuisine_name}}</option>
                        {% endfor %}                 
                    </select>
                    <label for="cuisine">Type of Cuisine</label>
                </div>
                <!-- Number of servings -->
                <div class="row">
                    <div class="input-field col s12 m6 ">
                        <select name="servings" id="servings">
                            <option value="" disabled selected>Choose the number of portions </option>
                            {% for servings in servings %}
                            <option value="{{servings.servings}}">{{servings.servings}}</option>
                            {% endfor %} 
                        </select>
                        <label for="servings">Number of servings</label>
                    </div>
                </div>
            </div>
        </div>

        <!-- Submit button -->
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe<i class="material-icons right">send</i>
            </button>
        </div>

    </form>
</div>


 
{% endblock %}